<div class="modal-overlay">
  <div class="modal">

    <h2>Edit Animal</h2>

    <form (ngSubmit)="saveChanges()">

      <label>Name</label>
      <input type="text" [(ngModel)]="formAnimal.name" name="name" />

      <label>Species</label>
      <input type="text" [(ngModel)]="formAnimal.species" name="species" />

      <!-- Training Status -->
      <label>Training Status:</label>
      <select [(ngModel)]="formAnimal.trainingStatus" name="trainingStatus">
        <option value="Intake">Intake</option>
        <option value="In Training">In Training</option>
        <option value="Ready for Service">Ready for Service</option>
         <option value="In Service">In Service</option>
      </select>

      <label>Reserved</label>
      <select [(ngModel)]="formAnimal.reserved" name="reserved">
        <option [value]="true">Yes</option>
        <option [value]="false">No</option>
      </select>

       <label> In Service Country</label>
      <input type="text" [(ngModel)]="formAnimal.inServiceCountry" name="inServiceCountry" />


      <label>Image</label>
      <input type="text" [(ngModel)]="formAnimal.image" name="image" />

      <div class="modal-buttons">
        <button type="button" (click)="closeModal()">Cancel</button>
        <button type="submit">Save</button>
      </div>

    </form>

  </div>
</div>
